body{
    font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive;
    margin: 10%;
}
#mam{
    color: coral;
}
.lion{
    display: flex;
    padding-bottom: 0%;
}
.wolf{
    width: 50%;
}
.wolf img{
        width: 70%;
        
        
}
#kam{
    font-size: 50px;
}
.cat{
    text-decoration: none;
    background-color: rgb(39, 88, 223);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}
.dog{
    color: white;
}
#ram{
    text-align: center;
    font-size: 50px;
}
#bam{
    color: coral;
}
.bear{
    display: flex;
}